<%= @user.username %>のマイページ
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<h1></h1>
<%= link_to 'カレンダー', blogs_path%>
<%= link_to 'Job Share', tweets_path%>
<script src="https://embed.small.chat/T01SG047NPQC01S80DLR3R.js" async></script>