<header>
    <div class="header_left">
        <%= link_to image_tag("jobhunt.jpg"), new_user_session_path %>
        <p>「就活って楽しい」</p>
    </div>
    <div class="header_right">
        <%= link_to new_user_session_path, class:"btn btn--green btn--radius btn--cubic" do%>
        <i class="fas fa-angle-double-right fa-position-left"></i>HOME<i
            class="fas fa-angle-double-left fa-position-right"></i>
        <% end %>
        <div class="logout flex right">
            <%= button_to destroy_user_session_path, {method: :get, class: "today"} do%>
            <i class="fas fa-sign-out-alt"></i>
            <% end %>
        </div>
    </div>
</header>