/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 *,
 *:before,
 *:after {
   -webkit-box-sizing: inherit;
   box-sizing: inherit;
 }
  body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  }
  a {
    text-decoration: none;
  }
  header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 2px #3be67c;
  }
  .header_left {
    display: flex;
    align-items: flex-end;
  }
  .header_left a {
    width: 30%;
  }
  .header_left img {
    width: 100%;
  }
  .header_left p {
    margin-left: 0.5rem;
    color:greenyellow;
  }
  .header_right a {
    font-weight: bold;
    padding: 1rem;
    color: white;
    background-color:cornflowerblue;
    border-radius: 1rem;
    text-decoration: none;
  }

  // ログインページ
  #top img {
    width: 100%;
    position: absolute;
  }
  #login {
    position: relative;
    top: 70%;
    left: 70%;
  }
  #signup {
    position: relative;
    top: 70%;
    left: 70%;
  }


  // マイページ
  h2 {
    margin-bottom: 0;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .right {
    justify-content: flex-end;
  }


html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.fa-position-left {
  position: absolute;
  top: calc(50% - .5em);
  left: 1rem;
}
.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}
a.btn--green {
  color: #fff;
  background-color: #3be67c;
  border-bottom: 5px solid #32cf74;
}

a.btn--green:hover {
  margin-top: 3px;
  color: #fff;
  background: #32cf74;
  border-bottom: 2px solid #32cf74;
}