/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 *,
 *:before,
 *:after {
   -webkit-box-sizing: inherit;
   box-sizing: inherit;
 }
  body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  }
  a {
    text-decoration: none;
  }

  // ヘッダー
  header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 2px #3be67c;
  }
  .header_left {
    display: flex;
    align-items: flex-end;
  }
  .header_left a {
    width: 30%;
  }
  .header_left img {
    width: 100%;
  }
  .header_left p {
    margin-left: 0.5rem;
    color:greenyellow;
  }
  .header_right {
    display: flex;
    align-items: center;
  }
  .header_right a {
    font-weight: bold;
    padding: 1rem;
    color: white;
    background-color:cornflowerblue;
    border-radius: 1rem;
    text-decoration: none;
  }
  .today{
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    color: #32cf74;
    border: #32cf74 solid 2px;
    border-radius: 5px;
    -weabkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 10px;
  }
  
  .today:hover{
    background-color: #32cf74;
    color: #fff;
  }

  // ログインページ
  #top img {
    width: 100%;
    position: absolute;
  }
  #login {
    position: relative;
    left: 67%;
  }
  #signup {
    position: relative;
    left: 72%;
  }#login.btn,
  #logina.btn,
  button.btn#login {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.5rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
  }
  #login.fa-position-left {
    position: absolute;
    top: calc(50% - .5em);
    left: 2rem;
  }
  #login.fa-position-right {
    position: absolute;
    top: calc(50% - .5em);
    right: 2rem;
  }
  a.btn--green#login {
    color: #fff;
    background-color: #3be67c;
    border-bottom: 5px solid #32cf74;
  }
  
  a.btn--green:hover#login {
    margin-top: 3px;
    color: #fff;
    background: #32cf74;
    border-bottom: 2px solid #32cf74;
  }

  


  // マイページ
  h2 {
    margin-bottom: 0;
  }
  .functions img {
    transition: all 0.5s;
  }
  .functions img:hover{
    transform: scale(1.02, 1.02);
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .center {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .right {
    justify-content: right;
    float: right;
  }
  span {
    white-space: nowrap;
  }
  #calendar {
    height: 600px;
    opacity: 1;
  }
  #calendar:hover {
    opacity: 0.7;
  }
  #sns {
    height: 600px;
    position: relative;
    opacity:1;
  }
  #sns:hover {
    opacity: 0.7;
  }
  #todo {
    height: 600px;
    position: relative;
    opacity:1;
  }
  #todo:hover {
    opacity: 0.7;
  }
  #quotes {
    height: 600px;
    position: relative;
    opacity:1;
  }
  #quotes:hover {
    opacity: 0.7;
  }
  .calendar_contents {
    color: white;
    background-color: #3be67c;
    border-radius: 6px;
    position: absolute;
    margin-bottom: 100px;
    padding: 40px 20px 20px 40px;
    font-weight: 800;
    bottom: 0;
    left: 0;
  }
  .sns_contents {
    color: white;
    background-color: #3be67c;
    border-radius: 6px;
    position: absolute;
    margin-bottom: 100px;
    padding: 40px 20px 20px 40px;
    font-weight: 800;
    bottom: 0;
    left: 0;
  }
  .todo_contents {
    color: white;
    background-color: #3be67c;
    border-radius: 6px;
    position: absolute;
    margin-bottom: 100px;
    padding: 40px 20px 20px 40px;
    font-weight: 800;
    bottom: 0;
    left: 0;
  }
  .quotes_contents {
    color: white;
    background-color: #3be67c;
    border-radius: 6px;
    position: absolute;
    margin-bottom: 100px;
    padding: 40px 20px 20px 40px;
    font-weight: 800;
    bottom: 0;
    left: 0;
  }
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  margin: auto 0.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.fa-position-left {
  position: absolute;
  top: calc(50% - .5em);
  left: 1rem;
}
.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}
a.btn--green {
  color: #fff;
  background-color: #3be67c;
  border-bottom: 5px solid #32cf74;
}

a.btn--green:hover {
  margin-top: 3px;
  color: #fff;
  background: #32cf74;
  border-bottom: 2px solid #32cf74;
}

// モーダル
.content{
  margin: 0 auto;
  padding: 5px;
}
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  border-radius: 2rem;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

// 名言
.randomQuote {
  width: 80%;
  font-weight: 800;
  margin: 200px auto 50px;
}
.anim-box.kiran {
  opacity: 1;
  overflow: hidden;
  position: relative;
}
.anim-box.kiran::before {
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 30px;
  height: 100%;
  opacity: 0;
  transition: cubic-bezier(0.32, 0, 0.67, 0);
}
.anim-box.kiran:hover::before {
  animation: kiran 2s linear 1;
}
 
@keyframes kiran {
  0% {
    transform: scale(2) rotate(45deg);
    opacity: 0;
  }
  20% {
    transform: scale(30) rotate(45deg);
    opacity: 0.6;
  }
  40% {
    transform: scale(60) rotate(45deg);
    opacity: 0.4;
  }
  80% {
    transform: scale(80) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    transform: scale(100) rotate(45deg);
    opacity: 0;
  }
}

.anim-box.zoomin.is-animated {
  animation: zoomIn 4s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
 
@keyframes zoomIn {
  0% {
    transition-delay: 3s;
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}